# --- PERFIL ---
PROFILES_ACTIVE=prod

# --- BASE DE DATOS (POSTGRESQL) ---
DATASOURCE_DB_NAME=nombre_de_tu_db
DATASOURCE_USERNAME=usuario_db
DATASOURCE_PASSWORD=password_seguro

# --- SEGURIDAD (JWT) ---
# Generar una cadena larga y aleatoria
JWT_SECRET=tu_secreto_aqui

# --- STORAGE (CLOUDFLARE R2) ---
CLOUDFLARE_ACCOUNT_ID=tu_account_id
CLOUDFLARE_API_TOKEN=tu_token_con_permisos_r2

# 📊 JPA / HIBERNATE CONFIGURATION
# - creta = (Peligroso en producción). Borra todo y crea las tablas desde cero cada vez que arrancas.
# - update = Compara tus clases Java con las tablas. Si falta una columna o tabla, la crea. No borra datos.- entorno de desarrollo y produccion pero con precaución puede eliminar tablas o campos
# - validate = Solo comprueba si las tablas coinciden con el código Java. Si no coinciden, la app no arranca. No toca nada - entorno de produccion
# - none = Spring no hace absolutamente nada con la estructura
SPRING_JPA_HIBERNATE_DDL_AUTO=update

# --- CORREO (SMTP GMAIL) ---
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=tu_correo@gmail.com
MAIL_PASSWORD=tu_app_password_de_google

# --- LOGS ---
LOG_FILE=logs/sib-backend.log

# --- RED / API ---
URL_BASE_API_BACKEND=http://tu_dominio_o_ip:8081/api/v1