# --- PERFIL ---
PROFILES_ACTIVE=prod

# --- BASE DE DATOS (POSTGRESQL) ---
DATASOURCE_DB_NAME=nombre_de_tu_db
DATASOURCE_USERNAME=usuario_db
DATASOURCE_PASSWORD=password_seguro

# --- SEGURIDAD (JWT) ---
# Generar una cadena larga y aleatoria
JWT_SECRET=tu_secreto_aqui

# --- STORAGE (CLOUDFLARE R2) ---
CLOUDFLARE_ACCOUNT_ID=tu_account_id
CLOUDFLARE_API_TOKEN=tu_token_con_permisos_r2

# Orígenes permitidos para CORS (Local + VPS)
# Urls separadas por comas ejemplo http://localhost:8080,http://localhost:8081,http://localhost:8082
ALLOWED_ORIGINS=urls

# 📊 JPA / HIBERNATE CONFIGURATION
# - creta = (Peligroso en producción). Borra todo y crea las tablas desde cero cada vez que arrancas.
# - update = Compara tus clases Java con las tablas. Si falta una columna o tabla, la crea. No borra datos.- entorno de desarrollo y produccion pero con precaución puede eliminar tablas o campos
# - validate = Solo comprueba si las tablas coinciden con el código Java. Si no coinciden, la app no arranca. No toca nada - entorno de produccion
# - none = Spring no hace absolutamente nada con la estructura
SPRING_JPA_HIBERNATE_DDL_AUTO=update

# 📊 NUEVAS VARIABLES DE CONTROL
# Estas Spring las mapea automáticamente a la configuración de JPA/Hibernate
SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.PostgreSQLDialect
SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT=org.hibernate.dialect.PostgreSQLDialect

# Estas Spring las mapea a la configuración de Hikari (el pool de conexiones)
SPRING_DATASOURCE_HIKARI_CONNECTION_TIMEOUT=30000
SPRING_DATASOURCE_HIKARI_VALIDATION_TIMEOUT=5000

# --- CORREO (SMTP GMAIL) ---
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=tu_correo@gmail.com
MAIL_PASSWORD=tu_app_password_de_google

# --- LOGS ---
LOG_FILE=logs/sib-backend.log

# --- RED / API ---
URL_BASE_API_BACKEND=http://tu_dominio_o_ip:8081/api/v1
ADMIN_URL=ip_o_dns
PUBLIC_URL=ip_o_dns