# --- PERFIL ---
PROFILES_ACTIVE=prod

# --- BASE DE DATOS (POSTGRESQL) ---
DATASOURCE_DB_NAME=nombre_de_tu_db
DATASOURCE_USERNAME=usuario_db
DATASOURCE_PASSWORD=password_seguro

# --- SEGURIDAD (JWT) ---
# Generar una cadena larga y aleatoria
JWT_SECRET=tu_secreto_aqui

# --- STORAGE (CLOUDFLARE R2) ---
CLOUDFLARE_ACCOUNT_ID=tu_account_id
CLOUDFLARE_API_TOKEN=tu_token_con_permisos_r2

# --- CORREO (SMTP GMAIL) ---
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=tu_correo@gmail.com
MAIL_PASSWORD=tu_app_password_de_google

# --- LOGS ---
LOG_FILE=logs/sib-backend.log

# --- RED / API ---
URL_BASE_API_BACKEND=http://tu_dominio_o_ip:8081/api/v1