[submodule "Backend"]
	path = Backend
	url = git@github.com-lpcode071294:lpcodedigital/CimientosDelRenacimientoBackend.git
[submodule "Frontend-Admin"]
	path = Frontend-Admin
	url = git@github.com-lpcode071294:lpcodedigital/CimientosDelRenacimientoFrontend-Admin.git
[submodule "Frontend-Public"]
	path = Frontend-Public
	url = git@github.com-lpcode071294:lpcodedigital/cimientos-del-renacimiento.git